*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto';
}

:root {
    --padding-left: 80px;
    --padding-right: 90px;
}

input{
    border: none;
}

input:focus{
    outline: none;
}

img{
    border-radius: 2px;
}

p{
    font-family: 'Roboto', sans-serif;
}

a{
    font-family: 'Roboto', sans-serif;
    color: currentColor;
    text-decoration: none;
}

a :hover{
    text-decoration: none;
    color: currentColor;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.logo{
    width: 180px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.enterButton{
    align-self: center;
    margin-left: auto;
    margin-right: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 2px;
    border: 2px solid #E0E0E0;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
}
 
.falseBlock{
    display: flex;
    height: 80px;
}

.mainContainer{
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}

.searchContainer{
    display: flex;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}

.search{
    width: 100%;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto' sans-serif;
    color: #626262;
    border-bottom: 2px solid #757575;
    opacity: 0.5;
    mix-blend-mode: normal;
}

.head{
    margin-top: 60px;
    padding-right: 90px;
    padding-left: 82px;
    width: 100%;
    color: #1D1D1D;
    font-size: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
}

.restaurants{
    padding-top: 16px;
    padding-right: 90px;
    padding-left: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background: rgba(117, 117, 117, 0.04);
    border-radius: 10px;
    margin-bottom: 16px;
}

.card img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardName{
    font-family: sans-serif;
    padding-top: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 8px;
}

.cardProp{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(98, 98, 98, 1);
    padding-top: 5px;
    padding-left: 8px;
}

.timeDelivery{
    font-family: sans-serif;
    padding-top: 4px;
    padding-left: 8px;
}

.contacts{
    display: flex;
    background-color: rgba(38, 38, 38, 1);
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}

.bottomLogo{
    margin-top: 56px;
}

.line{
    margin-top: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.language{
    margin-top: 32px;
    padding-top: 12px;
    padding-right: 90px;
    padding-bottom: 12px;
    background: rgba(59, 59, 59, 1);
    border-radius: 2px;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 1);
    justify-content: start;
}

.firstSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.links{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    color: white;
}

.firstColumn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.secondColumn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.lang{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contactLink{
    display: flex;
    width: 270px;
    margin-top: 40px;
    font-size: 16px;
}

.social{
    width: 200px;
    margin-top: 30px;
}

.secondSection{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.google{
    width: 210px;
}

.appstore{
    width: 200px;
    margin-right: 40px;
}

.lastSection{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lastLinks{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 15px;
    color: white;
}

.btn-upp{
    position: static;
    margin-top: 20px;
    width: 60%;
    height: 60%;
}

@media screen and (max-width:770px){
    .basket{
        display: none;
    }

    .nav{
        margin-top: 10px;
        justify-content: center;
    }

    .navigationUnit{
        margin-top: 10px;
        justify-content: center;
    }

    .appstore{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 991px){
    :root{
    --padding-left: 4px;
    --padding-right: 4px;
    }

    .navigation{
        margin-left: 10px;
    }
}

@media screen and (max-width: 1200px){

    .navigation{
        justify-content: center;
    }
    
    .nav{
        width: 100%;
    }

    .navigationUnit{
        justify-content: center;
    }

    .btn-upp{
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 700px) {
    
    .navigationUnit{
        width: 100%;
        font-size: 30px;
        justify-content: start;
    }

    .navigation{
        padding-top: 10px;
    }
}